openapi: 3.0.3
info:
  title: Sweat93 Multi-Store Gym Management API
  description: |
    Complete API documentation for the Sweat93 Gym Management System featuring multi-store cash register, packages, appointments, and comprehensive admin functionality.

    ## Authentication
    All protected endpoints require Bearer token authentication:
    ```
    Authorization: Bearer {token}
    ```

    ## Multi-Store System
    The system supports multiple stores ("Βάρη", "Λαγονήσι") with:
    - Store-specific cash registers
    - Package usage tracking
    - Automated income posting per completed training
    - Per-store financial reports
  version: "1.0.0"
  contact:
    name: API Support
    email: support@sweat93.gr

servers:
  - url: https://api.sweat93.gr
    description: Production server
  - url: http://localhost:8000
    description: Development server

security:
  - bearerAuth: []

paths:
  # ============ AUTHENTICATION ============
  /api/v1/auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: admin@sweat93.gr
                password:
                  type: string
                  format: password
                  example: password123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    example: "1|abc123def456"
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Revoke the current access token
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Logged out successfully"

  /api/v1/auth/me:
    get:
      tags:
        - Authentication
      summary: Get current user
      description: Get authenticated user information
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ============ REGISTRATION ============
  /api/v1/registration/initial:
    post:
      tags:
        - Registration
      summary: Initial registration
      description: Start the two-phase registration process
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - phone
              properties:
                name:
                  type: string
                  example: "John Doe"
                email:
                  type: string
                  format: email
                  example: "john@example.com"
                phone:
                  type: string
                  example: "+306971234567"
      responses:
        '200':
          description: Registration initialized
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  registration_token:
                    type: string
                    example: "reg_abc123"

  /api/v1/registration/accept-terms:
    post:
      tags:
        - Registration
      summary: Accept terms and conditions
      description: Second phase of registration - accept terms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - registration_token
                - accepted_terms
              properties:
                registration_token:
                  type: string
                  example: "reg_abc123"
                accepted_terms:
                  type: boolean
                  example: true
      responses:
        '200':
          description: Terms accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true

  /api/v1/registration/complete:
    post:
      tags:
        - Registration
      summary: Complete registration
      description: Final phase of registration - set password and complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - registration_token
                - password
                - password_confirmation
              properties:
                registration_token:
                  type: string
                  example: "reg_abc123"
                password:
                  type: string
                  format: password
                  example: "secure123"
                password_confirmation:
                  type: string
                  format: password
                  example: "secure123"
      responses:
        '200':
          description: Registration completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    example: "1|abc123def456"

  # ============ CASH REGISTER MANAGEMENT ============
  /api/v1/cash-register:
    get:
      tags:
        - Cash Register
      summary: List cash register entries
      description: Get paginated list of cash register entries (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store_id
          in: query
          schema:
            type: integer
          description: Filter entries by store ID (optional - shows all stores if not provided)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
          description: Items per page
        - name: type
          in: query
          schema:
            type: string
            enum: [income, withdrawal]
          description: Filter by entry type
        - name: date_from
          in: query
          schema:
            type: string
            format: date
          description: Filter entries from this date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
          description: Filter entries until this date
      responses:
        '200':
          description: Cash register entries retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CashRegisterEntry'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags:
        - Cash Register
      summary: Create cash register entry
      description: Create a new cash register entry (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - store_id
                - type
                - amount
                - description
                - category
              properties:
                store_id:
                  type: integer
                  description: Store ID where the entry belongs
                  example: 1
                type:
                  type: string
                  enum: [income, withdrawal]
                  example: "income"
                amount:
                  type: number
                  format: decimal
                  example: 50.00
                description:
                  type: string
                  example: "Manual cash entry"
                category:
                  type: string
                  example: "manual_entry"
                user_id:
                  type: integer
                  description: User ID for the entry
                  example: 1
                payment_method:
                  type: string
                  enum: [cash, card, transfer]
                  example: "cash"
      responses:
        '201':
          description: Cash register entry created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CashRegisterEntry'

  /api/v1/cash-register/limited:
    get:
      tags:
        - Cash Register
      summary: Limited cash register access
      description: Get recent cash register entries with limited access (Trainer/Admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Limited cash register entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CashRegisterEntry'

  /api/v1/cash-register/{cash_register}:
    get:
      tags:
        - Cash Register
      summary: Get cash register entry
      description: Get detailed information about a specific cash register entry (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: cash_register
          in: path
          required: true
          schema:
            type: integer
          description: Cash register entry ID
      responses:
        '200':
          description: Cash register entry details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CashRegisterEntry'

    put:
      tags:
        - Cash Register
      summary: Update cash register entry
      description: Update cash register entry information (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: cash_register
          in: path
          required: true
          schema:
            type: integer
          description: Cash register entry ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [income, withdrawal]
                  example: "income"
                amount:
                  type: number
                  format: decimal
                  example: 75.00
                description:
                  type: string
                  example: "Updated entry description"
                category:
                  type: string
                  example: "service"
      responses:
        '200':
          description: Cash register entry updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CashRegisterEntry'

    delete:
      tags:
        - Cash Register
      summary: Delete cash register entry
      description: Delete a cash register entry (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: cash_register
          in: path
          required: true
          schema:
            type: integer
          description: Cash register entry ID
      responses:
        '200':
          description: Cash register entry deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Cash register entry deleted successfully"

  /api/v1/cash-register/summary:
    get:
      tags:
        - Cash Register
      summary: Get cash register summary by store
      description: Get summary of cash register entries grouped by store (Admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cash register summary by store
          content:
            application/json:
              schema:
                type: object
                properties:
                  stores:
                    type: array
                    items:
                      type: object
                      properties:
                        store_id:
                          type: integer
                          example: 1
                        store_name:
                          type: string
                          example: "Βάρη"
                        store_color:
                          type: string
                          example: "#10B981"
                        total_entries:
                          type: integer
                          example: 8
                        total_income:
                          type: number
                          format: decimal
                          example: 1000.00
                        total_expenses:
                          type: number
                          format: decimal
                          example: 0.00
                  unknown:
                    type: object
                    properties:
                      total_entries:
                        type: integer
                        example: 0
                      total_income:
                        type: number
                        format: decimal
                        example: 0.00
                      total_expenses:
                        type: number
                        format: decimal
                        example: 0.00
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required

  # ============ EXPENSE CATEGORIES ============
  /api/v1/expense-categories:
    get:
      tags:
        - Expense Categories
      summary: List expense categories
      description: Get paginated list of expense categories (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [main, subcategory]
          description: Filter by category type
        - name: active
          in: query
          schema:
            type: boolean
          description: Filter by active status
        - name: parent_id
          in: query
          schema:
            type: integer
          description: Filter subcategories by parent ID
        - name: search
          in: query
          schema:
            type: string
          description: Search by category name
        - name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of expense categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExpenseCategory'
                  links:
                    type: object
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required
    post:
      tags:
        - Expense Categories
      summary: Create expense category
      description: Create a new expense category (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - category_type
              properties:
                name:
                  type: string
                  example: "New Category"
                description:
                  type: string
                  example: "Category description"
                category_type:
                  type: string
                  enum: [main, subcategory]
                  example: "main"
                parent_id:
                  type: integer
                  example: 1
                is_active:
                  type: boolean
                  example: true
                sort_order:
                  type: integer
                  example: 1
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required
        '422':
          description: Validation failed

  /api/v1/expense-categories/tree:
    get:
      tags:
        - Expense Categories
      summary: Get expense categories tree
      description: Get hierarchical structure of expense categories (Admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Hierarchical expense categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                        category_type:
                          type: string
                        is_active:
                          type: boolean
                        sort_order:
                          type: integer
                        subcategories:
                          type: array
                          items:
                            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required

  /api/v1/expense-categories/options:
    get:
      tags:
        - Expense Categories
      summary: Get expense categories options
      description: Get categories formatted for dropdown/select options (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [main, subcategory]
          description: Filter by category type
      responses:
        '200':
          description: Categories formatted for dropdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  options:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: integer
                        label:
                          type: string
                        type:
                          type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required

  /api/v1/expense-categories/{expenseCategory}:
    get:
      tags:
        - Expense Categories
      summary: Get expense category
      description: Get detailed information about a specific expense category (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: expenseCategory
          in: path
          required: true
          schema:
            type: integer
          description: Expense category ID
      responses:
        '200':
          description: Expense category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required
        '404':
          description: Category not found
    put:
      tags:
        - Expense Categories
      summary: Update expense category
      description: Update expense category information (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: expenseCategory
          in: path
          required: true
          schema:
            type: integer
          description: Expense category ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Updated Category"
                description:
                  type: string
                  example: "Updated description"
                category_type:
                  type: string
                  enum: [main, subcategory]
                  example: "main"
                parent_id:
                  type: integer
                  example: 1
                is_active:
                  type: boolean
                  example: true
                sort_order:
                  type: integer
                  example: 1
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required
        '404':
          description: Category not found
        '422':
          description: Validation failed
    delete:
      tags:
        - Expense Categories
      summary: Delete expense category
      description: Delete an expense category (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: expenseCategory
          in: path
          required: true
          schema:
            type: integer
          description: Expense category ID
      responses:
        '200':
          description: Category deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required
        '404':
          description: Category not found
        '422':
          description: Cannot delete category with dependencies

  /api/v1/expense-categories/{expenseCategory}/toggle-status:
    post:
      tags:
        - Expense Categories
      summary: Toggle category status
      description: Toggle active/inactive status of an expense category (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: expenseCategory
          in: path
          required: true
          schema:
            type: integer
          description: Expense category ID
      responses:
        '200':
          description: Category status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Admin access required
        '404':
          description: Category not found

  # ============ BUSINESS EXPENSES ============
  /api/v1/business-expenses:
    get:
      tags:
        - Business Expenses
      summary: List business expenses
      description: Get paginated list of business expenses (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store_id
          in: query
          schema:
            type: integer
          description: Filter expenses by store ID (optional - shows all stores if not provided)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
          description: Items per page
        - name: category
          in: query
          schema:
            type: string
          description: Filter by expense category
        - name: date_from
          in: query
          schema:
            type: string
            format: date
          description: Filter expenses from this date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
          description: Filter expenses until this date
      responses:
        '200':
          description: Business expenses retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessExpense'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags:
        - Business Expenses
      summary: Create business expense
      description: Create a new business expense entry (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - store_id
                - amount
                - category
                - description
              properties:
                store_id:
                  type: integer
                  description: Store ID where expense occurred
                  example: 1
                amount:
                  type: number
                  format: decimal
                  example: 150.00
                category:
                  type: string
                  example: "Rent"
                description:
                  type: string
                  example: "Monthly office rent payment"
                date:
                  type: string
                  format: date
                  example: "2024-12-01"
                payment_method:
                  type: string
                  enum: [cash, card, transfer]
                  example: "transfer"
      responses:
        '201':
          description: Business expense created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/BusinessExpense'

  /api/v1/business-expenses/{business_expense}:
    get:
      tags:
        - Business Expenses
      summary: Get business expense
      description: Get detailed information about a specific business expense (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: business_expense
          in: path
          required: true
          schema:
            type: integer
          description: Business expense ID
      responses:
        '200':
          description: Business expense details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/BusinessExpense'

    put:
      tags:
        - Business Expenses
      summary: Update business expense
      description: Update business expense information (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: business_expense
          in: path
          required: true
          schema:
            type: integer
          description: Business expense ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: decimal
                  example: 175.00
                category:
                  type: string
                  example: "Utilities"
                description:
                  type: string
                  example: "Updated expense description"
                date:
                  type: string
                  format: date
                  example: "2024-12-15"
      responses:
        '200':
          description: Business expense updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/BusinessExpense'

    delete:
      tags:
        - Business Expenses
      summary: Delete business expense
      description: Delete a business expense entry (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: business_expense
          in: path
          required: true
          schema:
            type: integer
          description: Business expense ID
      responses:
        '200':
          description: Business expense deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Business expense deleted successfully"

  # ============ STORE MANAGEMENT ============

  /api/v1/admin/stores:
    get:
      tags:
        - Store Management
      summary: List stores
      description: Get paginated list of stores (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
          description: Items per page
        - name: active
          in: query
          schema:
            type: boolean
          description: Filter by active status
        - name: search
          in: query
          schema:
            type: string
          description: Search by store name
      responses:
        '200':
          description: Stores retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Store'
                  total:
                    type: integer
                    example: 2

    post:
      tags:
        - Store Management
      summary: Create store
      description: Create a new store (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: "Γλυφάδα"
                address:
                  type: string
                  example: "Λεωφόρος Γλυφάδας 150"
                is_active:
                  type: boolean
                  example: true
                color:
                  type: string
                  description: Hex color code for the store
                  example: "#EF4444"
      responses:
        '201':
          description: Store created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Store created successfully"
                  store:
                    $ref: '#/components/schemas/Store'

  /api/v1/admin/stores/{store}:
    get:
      tags:
        - Store Management
      summary: Get store
      description: Get detailed information about a specific store (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
      responses:
        '200':
          description: Store retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  store:
                    allOf:
                      - $ref: '#/components/schemas/Store'
                      - type: object
                        properties:
                          cash_register_entries:
                            type: array
                            items:
                              $ref: '#/components/schemas/CashRegisterEntry'
                          bookings:
                            type: array
                            items:
                              type: object
                              description: Recent bookings for the store
                          business_expenses:
                            type: array
                            items:
                              $ref: '#/components/schemas/BusinessExpense'

    put:
      tags:
        - Store Management
      summary: Update store
      description: Update store information (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Γλυφάδα"
                address:
                  type: string
                  example: "Λεωφόρος Γλυφάδας 150"
                is_active:
                  type: boolean
                  example: true
                color:
                  type: string
                  description: Hex color code for the store
                  example: "#EF4444"
      responses:
        '200':
          description: Store updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Store updated successfully"
                  store:
                    $ref: '#/components/schemas/Store'

    delete:
      tags:
        - Store Management
      summary: Delete store
      description: Delete a store (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
      responses:
        '200':
          description: Store deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Store deleted successfully"
        '422':
          description: Cannot delete store with existing records
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Cannot delete store with existing records"
                  details:
                    type: object
                    properties:
                      bookings:
                        type: boolean
                        example: true
                      cash_entries:
                        type: boolean
                        example: true
                      expenses:
                        type: boolean
                        example: true

  /api/v1/admin/stores/{store}/toggle-status:
    post:
      tags:
        - Store Management
      summary: Toggle store status
      description: Toggle store active/inactive status (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
      responses:
        '200':
          description: Store status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Store status updated successfully"
                  store:
                    $ref: '#/components/schemas/Store'

  /api/v1/admin/stores/{store}/statistics:
    get:
      tags:
        - Store Management
      summary: Get store statistics
      description: Get comprehensive statistics for a specific store (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: store
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
      responses:
        '200':
          description: Store statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  store:
                    $ref: '#/components/schemas/Store'
                  statistics:
                    type: object
                    properties:
                      total_bookings:
                        type: integer
                        example: 150
                      active_bookings:
                        type: integer
                        example: 45
                      total_revenue:
                        type: number
                        format: decimal
                        example: 12500.50
                      total_expenses:
                        type: number
                        format: decimal
                        example: 3200.75
                      cash_register_entries:
                        type: integer
                        example: 89
                      recent_activity:
                        type: array
                        items:
                          $ref: '#/components/schemas/CashRegisterEntry'

  # ============ MULTI-STORE CASH REGISTER ============
  /api/v1/bookings/{booking}/complete:
    post:
      tags:
        - Multi-Store System
      summary: Complete booking and record income
      description: |
        Complete a booking, deduct package sessions, and automatically record income to the store's cash register.

        **Business Logic:**
        - Validates store assignment
        - Decrements remaining package sessions
        - Calculates per-training cost: `package_price / total_sessions`
        - Handles rounding for last session to match package total
        - Creates cash register entry with income type
      security:
        - bearerAuth: []
      parameters:
        - name: booking
          in: path
          required: true
          schema:
            type: integer
          description: Booking ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - completed_by
              properties:
                completed_by:
                  type: integer
                  description: User ID who completed the booking
                  example: 1
      responses:
        '200':
          description: Booking completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Booking completed successfully"
                  data:
                    type: object
                    properties:
                      booking:
                        $ref: '#/components/schemas/Booking'
                      user_package:
                        $ref: '#/components/schemas/UserPackage'
                      cash_entry:
                        $ref: '#/components/schemas/CashRegisterEntry'
        '400':
          description: Validation error or business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/stores/{storeId}/cash-entries:
    get:
      tags:
        - Multi-Store System
      summary: Get store cash register entries
      description: Retrieve cash register entries for a specific store with optional filters
      security:
        - bearerAuth: []
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Filter entries from this date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: Filter entries until this date (YYYY-MM-DD)
        - name: type
          in: query
          schema:
            type: string
            enum: [income, withdrawal]
          description: Filter by entry type
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
          description: Number of entries per page
      responses:
        '200':
          description: Cash register entries retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CashRegisterEntry'
                      per_page:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 150
                  store:
                    $ref: '#/components/schemas/Store'

  /api/v1/stores/{storeId}/report:
    get:
      tags:
        - Multi-Store System
      summary: Get store financial report
      description: Get income, expenses, and net profit for a specific store
      security:
        - bearerAuth: []
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: integer
          description: Store ID
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Report start date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: Report end date (YYYY-MM-DD)
      responses:
        '200':
          description: Store financial report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      store_id:
                        type: integer
                        example: 1
                      income:
                        type: number
                        format: decimal
                        example: 2500.50
                      expenses:
                        type: number
                        format: decimal
                        example: 380.25
                      net:
                        type: number
                        format: decimal
                        example: 2120.25
                      entries_count:
                        type: integer
                        example: 45
                  store:
                    $ref: '#/components/schemas/Store'

  /api/v1/expenses:
    post:
      tags:
        - Multi-Store System
      summary: Record expense
      description: Record a new expense in the cash register for a specific store
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - store_id
                - amount
                - category
                - description
              properties:
                store_id:
                  type: integer
                  description: Store ID where expense occurred
                  example: 1
                amount:
                  type: number
                  format: decimal
                  description: Expense amount in EUR
                  example: 150.00
                category:
                  type: string
                  enum: [Rent, Utilities, Supplies, Misc]
                  description: Expense category
                  example: "Rent"
                description:
                  type: string
                  description: Detailed expense description
                  example: "Monthly office rent payment"
                payment_method:
                  type: string
                  enum: [cash, card, transfer]
                  description: Payment method used
                  example: "transfer"
      responses:
        '201':
          description: Expense recorded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Expense recorded successfully"
                  data:
                    $ref: '#/components/schemas/CashRegisterEntry'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/customers/{userId}/packages:
    get:
      tags:
        - Multi-Store System
      summary: Get user packages with usage info
      description: Retrieve all packages for a specific user with remaining sessions and usage statistics
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        '200':
          description: User packages retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 123
                          name:
                            type: string
                            example: "John Doe"
                          email:
                            type: string
                            format: email
                            example: "john@example.com"
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 456
                            name:
                              type: string
                              example: "Premium Package"
                            total_sessions:
                              type: integer
                              example: 10
                            remaining_sessions:
                              type: integer
                              example: 7
                            used_sessions:
                              type: integer
                              example: 3
                            per_training_cost:
                              type: number
                              format: decimal
                              example: 25.00
                            status:
                              type: string
                              enum: [active, expired, frozen]
                              example: "active"
                            expiry_date:
                              type: string
                              format: date
                              example: "2024-12-31"

  /api/v1/packages/{packageId}/report:
    get:
      tags:
        - Multi-Store System
      summary: Get package consumption report
      description: Get detailed consumption report for a specific user package
      security:
        - bearerAuth: []
      parameters:
        - name: packageId
          in: path
          required: true
          schema:
            type: integer
          description: User Package ID
      responses:
        '200':
          description: Package report retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user_package_id:
                        type: integer
                        example: 456
                      package_name:
                        type: string
                        example: "Premium Package"
                      user_name:
                        type: string
                        example: "John Doe"
                      total_sessions:
                        type: integer
                        example: 10
                      used_sessions:
                        type: integer
                        example: 3
                      remaining_sessions:
                        type: integer
                        example: 7
                      per_training_cost:
                        type: number
                        format: decimal
                        example: 25.00
                      total_revenue:
                        type: number
                        format: decimal
                        example: 75.00

  # ============ BOOKINGS ============
  /api/v1/bookings:
    get:
      tags:
        - Bookings
      summary: List bookings
      description: Get paginated list of bookings with optional filters
      security:
        - bearerAuth: []
      parameters:
        - name: store_id
          in: query
          schema:
            type: integer
          description: Filter bookings by store ID (optional - shows all stores if not provided)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
          description: Items per page
        - name: status
          in: query
          schema:
            type: string
            enum: [confirmed, pending, cancelled, completed]
          description: Filter by booking status
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filter by booking date (YYYY-MM-DD)
      responses:
        '200':
          description: Bookings list retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags:
        - Bookings
      summary: Create booking
      description: Create a new booking (public endpoint)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - store_id
                - user_id
                - class_id
                - customer_name
                - customer_email
                - date
                - time
              properties:
                store_id:
                  type: integer
                  description: Store ID where the booking is made
                  example: 1
                user_id:
                  type: integer
                  description: User ID (optional for guest bookings)
                  example: 123
                class_id:
                  type: integer
                  description: Gym Class ID
                  example: 456
                customer_name:
                  type: string
                  example: "John Doe"
                customer_email:
                  type: string
                  format: email
                  example: "john@example.com"
                date:
                  type: string
                  format: date
                  example: "2024-12-15"
                time:
                  type: string
                  example: "10:00"
                service_id:
                  type: integer
                  nullable: true
                  description: Service ID for this booking
                  example: 1
                instructor_id:
                  type: integer
                  nullable: true
                  description: Instructor ID for this booking
                  example: 123
                notes:
                  type: string
                  example: "VIP customer - special requirements"
      responses:
        '201':
          description: Booking created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Booking'
        '400':
          description: Validation error or business rule violation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Δεν έχετε ενεργό πακέτο με διαθέσιμες συνεδρίες για EMS TRAINING (ανιχνεύθηκε αυτόματα)."
                  error_code:
                    type: string
                    enum: ["INSUFFICIENT_SESSIONS_FOR_SERVICE", "NO_SESSIONS_REMAINING", "INSUFFICIENT_SESSIONS", "DUPLICATE_PACKAGE"]
                    example: "INSUFFICIENT_SESSIONS_FOR_SERVICE"
                  notes:
                    type: string
                    example: "Smart service detection automatically identified the service from class_name when service_id was not provided."

  /api/v1/bookings/{booking}:
    get:
      tags:
        - Bookings
      summary: Get booking details
      description: Get detailed information about a specific booking
      security:
        - bearerAuth: []
      parameters:
        - name: booking
          in: path
          required: true
          schema:
            type: integer
          description: Booking ID
      responses:
        '200':
          description: Booking details retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Booking'
        '404':
          description: Booking not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Bookings
      summary: Update booking
      description: Update booking information
      security:
        - bearerAuth: []
      parameters:
        - name: booking
          in: path
          required: true
          schema:
            type: integer
          description: Booking ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [confirmed, pending, cancelled, completed]
                  example: "confirmed"
                notes:
                  type: string
                  example: "Updated booking notes"
      responses:
        '200':
          description: Booking updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Booking'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Bookings
      summary: Cancel booking
      description: Cancel a booking (soft delete)
      security:
        - bearerAuth: []
      parameters:
        - name: booking
          in: path
          required: true
          schema:
            type: integer
          description: Booking ID
      responses:
        '200':
          description: Booking cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Booking cancelled successfully"

  # ============ PACKAGES ============
  /api/v1/packages:
    get:
      tags:
        - Packages
      summary: List packages
      description: Get all available packages (public endpoint)
      responses:
        '200':
          description: Packages list retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Package'

    post:
      tags:
        - Packages
      summary: Create package
      description: Create a new package (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
                - sessions
              properties:
                name:
                  type: string
                  example: "Premium Package"
                price:
                  type: number
                  format: decimal
                  example: 250.00
                sessions:
                  type: integer
                  example: 10
                duration:
                  type: integer
                  description: Duration in days
                  example: 30
                service_ids:
                  type: array
                  items:
                    type: integer
                  nullable: true
                  description: Array of service IDs this package belongs to (supports multiple services)
                  example: [1, 2, 3]
                status:
                  type: string
                  enum: [active, inactive]
                  default: "active"
                  example: "active"
                description:
                  type: string
                  example: "Premium personal training package"
      responses:
        '201':
          description: Package created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Package'

  /api/v1/packages/{package}:
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get detailed information about a specific package (public endpoint)
      parameters:
        - name: package
          in: path
          required: true
          schema:
            type: integer
          description: Package ID
      responses:
        '200':
          description: Package details retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Package'

    put:
      tags:
        - Packages
      summary: Update package
      description: Update package information (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: package
          in: path
          required: true
          schema:
            type: integer
          description: Package ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Updated Premium Package"
                price:
                  type: number
                  format: decimal
                  example: 275.00
                sessions:
                  type: integer
                  example: 12
                duration:
                  type: integer
                  description: Duration in days
                  example: 30
                service_ids:
                  type: array
                  items:
                    type: integer
                  nullable: true
                  description: Array of service IDs this package belongs to (supports multiple services)
                  example: [1, 2]
                status:
                  type: string
                  enum: [active, inactive]
                  example: "active"
                description:
                  type: string
                  example: "Updated premium personal training package"
      responses:
        '200':
          description: Package updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Package'

    delete:
      tags:
        - Packages
      summary: Delete package
      description: Delete a package (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: package
          in: path
          required: true
          schema:
            type: integer
          description: Package ID
      responses:
        '200':
          description: Package deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Package deleted successfully"

  # ============ ADMIN USER PACKAGES ============
  /api/v1/admin/users/{userId}/packages:
    get:
      tags:
        - Admin
        - User Packages
      summary: Get all packages for a user (Admin only)
      description: Retrieve all packages assigned to a specific user (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        '200':
          description: User packages retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User packages retrieved successfully"
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                        example: 69
                      user_name:
                        type: string
                        example: "Maria Alexiou"
                      total_packages:
                        type: integer
                        example: 2
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 19
                            package_name:
                              type: string
                              example: "VIP Personal Training Package"
                            service_name:
                              type: string
                              example: "PERSONAL TRAINING"
                            status:
                              type: string
                              example: "active"
                            remaining_sessions:
                              type: integer
                              example: 25
                            total_sessions:
                              type: integer
                              example: 25
                            assigned_date:
                              type: string
                              format: date
                              example: "2025-09-07"
                            expiry_date:
                              type: string
                              format: date
                              example: "2025-12-07"
                            is_custom_package:
                              type: boolean
                              example: true
                            custom_price:
                              type: number
                              format: decimal
                              example: 15000.00
                            custom_sessions:
                              type: integer
                              example: 25
                            custom_duration_days:
                              type: integer
                              example: 90
                            assigned_by:
                              type: string
                              example: "Admin Demo"
                            custom_assigned_at:
                              type: string
                              format: datetime
                              example: "2025-09-07T14:43:43Z"

  # ============ PACKAGE FREEZE/UNFREEZE ============
  /api/user-packages/{userPackage}/freeze:
    post:
      tags:
        - User Packages
        - Package Management
      summary: Freeze (pause) a user package
      description: |
        Freeze a package to pause its expiration. When unfrozen, the frozen days will be added to the expiry date.
        This is useful when the gym is closed or a member is on vacation.
      security:
        - bearerAuth: []
      parameters:
        - name: userPackage
          in: path
          required: true
          schema:
            type: integer
          description: User Package ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                duration_days:
                  type: integer
                  minimum: 1
                  maximum: 90
                  example: 10
                  description: Maximum days the package can be frozen (optional)
      responses:
        '200':
          description: Package frozen successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Package frozen successfully"
                  user_package:
                    $ref: '#/components/schemas/UserPackage'

  /api/user-packages/{userPackage}/unfreeze:
    post:
      tags:
        - User Packages
        - Package Management
      summary: Unfreeze (resume) a user package
      description: |
        Unfreeze a package and automatically extend its expiry date by the number of frozen days.
        The system calculates how many days the package was frozen and adds them to the expiry date.
      security:
        - bearerAuth: []
      parameters:
        - name: userPackage
          in: path
          required: true
          schema:
            type: integer
          description: User Package ID
      responses:
        '200':
          description: Package unfrozen successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Package unfrozen successfully"
                  user_package:
                    $ref: '#/components/schemas/UserPackage'

  # ============ CUSTOM PACKAGES ============
  /api/v1/custom-packages/users:
    get:
      tags:
        - Custom Packages
      summary: Get eligible users for custom packages
      description: Get list of users who can receive custom packages (Admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 69
                        name:
                          type: string
                          example: "Maria Alexiou"
                        email:
                          type: string
                          example: "maria@obstechnologies.gr"
                        active_packages_count:
                          type: integer
                          example: 1
                        custom_packages_count:
                          type: integer
                          example: 0
                        has_custom_treatment:
                          type: boolean
                          example: false

  /api/v1/custom-packages/available-packages:
    get:
      tags:
        - Custom Packages
      summary: Get available packages for custom assignment
      description: Get list of available packages that can be assigned as custom packages (Admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Packages retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "Premium Package"
                        service:
                          type: string
                          example: "PERSONAL TRAINING"
                        original_price:
                          type: number
                          format: decimal
                          example: 200.00
                        original_sessions:
                          type: integer
                          example: 20
                        original_duration:
                          type: integer
                          example: 60

  /api/v1/custom-packages/user/{userId}:
    get:
      tags:
        - Custom Packages
      summary: Get user's custom packages
      description: Get all custom packages assigned to a specific user (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        '200':
          description: Custom packages retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 19
                        package_name:
                          type: string
                          example: "Premium Package"
                        service_name:
                          type: string
                          example: "PERSONAL TRAINING"
                        custom_details:
                          type: object
                          properties:
                            custom_price:
                              type: number
                              format: decimal
                              example: 15000.00
                            custom_sessions:
                              type: integer
                              example: 25
                            custom_duration_days:
                              type: integer
                              example: 90
                        status:
                          type: string
                          example: "active"
                        remaining_sessions:
                          type: integer
                          example: 25
                        expiry_date:
                          type: string
                          format: date
                          example: "2025-12-07"
                        assigned_at:
                          type: string
                          format: datetime
                          example: "2025-09-07T14:43:43Z"
                        assigned_by:
                          type: string
                          example: "Admin Demo"

  /api/v1/custom-packages:
    post:
      tags:
        - Custom Packages
      summary: Create custom package
      description: Assign a custom package to a user with personalized pricing and terms (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - package_id
                - custom_price
                - custom_sessions
                - custom_duration_days
              properties:
                user_id:
                  type: integer
                  example: 69
                  description: User ID to assign the custom package to
                package_id:
                  type: integer
                  example: 1
                  description: Base package ID to customize
                custom_price:
                  type: number
                  format: decimal
                  example: 15000.00
                  description: Custom price for this user (in cents)
                custom_sessions:
                  type: integer
                  example: 25
                  description: Custom number of sessions
                custom_duration_days:
                  type: integer
                  example: 90
                  description: Custom duration in days
                custom_notes:
                  type: string
                  example: "VIP customer - ειδική τιμή για μακροχρόνια συνεργασία"
                  description: Optional notes about this custom assignment
                assigned_by:
                  type: string
                  example: "Admin Demo"
                  description: Admin who assigned this custom package
      responses:
        '201':
          description: Custom package created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      custom_package:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 19
                          name:
                            type: string
                            example: "Custom VIP Package για Maria Alexiou"
                          custom_price:
                            type: number
                            format: decimal
                            example: 15000.00
                      summary:
                        type: object
                        properties:
                          custom_price:
                            type: number
                            format: decimal
                            example: 15000.00
                          savings:
                            type: number
                            format: decimal
                            example: 13500.00
                          original_price:
                            type: number
                            format: decimal
                            example: 200.00
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/custom-packages/{userPackage}:
    get:
      tags:
        - Custom Packages
      summary: Get custom package details
      description: Get detailed information about a specific custom package (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userPackage
          in: path
          required: true
          schema:
            type: integer
          description: UserPackage ID
      responses:
        '200':
          description: Custom package details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      custom_package:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 19
                          name:
                            type: string
                            example: "Custom VIP Package για Maria Alexiou"
                      custom_details:
                        type: object
                        properties:
                          custom_price:
                            type: number
                            format: decimal
                            example: 15000.00
                          savings:
                            type: number
                            format: decimal
                            example: 13500.00
                      effective_values:
                        type: object
                        properties:
                          price:
                            type: number
                            format: decimal
                            example: 15000.00
                          sessions:
                            type: integer
                            example: 25
                          duration_days:
                            type: integer
                            example: 90
                      savings:
                        type: number
                        format: decimal
                        example: 13500.00

    put:
      tags:
        - Custom Packages
      summary: Update custom package
      description: Update custom package terms and pricing (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userPackage
          in: path
          required: true
          schema:
            type: integer
          description: UserPackage ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_price:
                  type: number
                  format: decimal
                  example: 18000.00
                  description: Updated custom price
                custom_sessions:
                  type: integer
                  example: 30
                  description: Updated custom sessions
                custom_duration_days:
                  type: integer
                  example: 120
                  description: Updated custom duration
                custom_notes:
                  type: string
                  example: "Updated VIP terms"
                  description: Updated notes
                status:
                  type: string
                  enum: [active, inactive, expired, cancelled]
                  example: "active"
                  description: Package status
      responses:
        '200':
          description: Custom package updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      custom_package:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 19
                      custom_details:
                        type: object
                        properties:
                          custom_price:
                            type: number
                            format: decimal
                            example: 18000.00
                      savings:
                        type: number
                        format: decimal
                        example: 12000.00

    delete:
      tags:
        - Custom Packages
      summary: Delete custom package
      description: Delete a custom package assignment (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userPackage
          in: path
          required: true
          schema:
            type: integer
          description: UserPackage ID
      responses:
        '200':
          description: Custom package deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Custom package deleted successfully"

  /api/v1/custom-packages/check-special-pricing:
    get:
      tags:
        - Custom Packages
      summary: Check if user has special pricing for a service
      description: Check if a user has custom pricing for a specific service (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: integer
          description: User ID
        - name: service_id
          in: query
          required: true
          schema:
            type: integer
          description: Service ID
      responses:
        '200':
          description: Special pricing check completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      has_special_pricing:
                        type: boolean
                        example: true
                      service_id:
                        type: integer
                        example: 2
                      user_id:
                        type: integer
                        example: 69

  /api/v1/custom-packages/special-pricing-details:
    get:
      tags:
        - Custom Packages
      summary: Get special pricing details for a user and service
      description: Get detailed special pricing information for a user and service (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: integer
          description: User ID
        - name: service_id
          in: query
          required: true
          schema:
            type: integer
          description: Service ID
      responses:
        '200':
          description: Special pricing details retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      has_special_pricing:
                        type: boolean
                        example: true
                      custom_package_id:
                        type: integer
                        example: 19
                      package_name:
                        type: string
                        example: "VIP Personal Training Package"
                      service_name:
                        type: string
                        example: "PERSONAL TRAINING"
                      original_price:
                        type: number
                        format: decimal
                        example: 200.00
                      custom_price:
                        type: number
                        format: decimal
                        example: 15000.00
                      price_difference:
                        type: number
                        format: decimal
                        example: 50.00
                      original_sessions:
                        type: integer
                        example: 20
                      custom_sessions:
                        type: integer
                        example: 25
                      sessions_difference:
                        type: integer
                        example: 5
                      original_duration:
                        type: integer
                        example: 60
                      custom_duration:
                        type: integer
                        example: 90
                      duration_difference:
                        type: integer
                        example: 30
                      remaining_sessions:
                        type: integer
                        example: 25
                      expiry_date:
                        type: string
                        format: date
                        example: "2025-12-07"
                      assigned_by:
                        type: string
                        example: "Admin Demo"
                      assigned_at:
                        type: string
                        format: datetime
                        example: "2025-09-07T14:43:43Z"
                      custom_notes:
                        type: string
                        example: "VIP customer - special pricing for long-term commitment"

  /api/v1/custom-packages/user/{userId}/special-pricing-summary:
    get:
      tags:
        - Custom Packages
      summary: Get user's special pricing summary
      description: Get complete summary of all user's custom packages and savings (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        '200':
          description: User special pricing summary retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      has_special_pricing:
                        type: boolean
                        example: true
                      total_custom_packages:
                        type: integer
                        example: 2
                      total_savings:
                        type: number
                        format: decimal
                        example: 150.00
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            package_id:
                              type: integer
                              example: 19
                            package_name:
                              type: string
                              example: "VIP Personal Training Package"
                            service_name:
                              type: string
                              example: "PERSONAL TRAINING"
                            original_price:
                              type: number
                              format: decimal
                              example: 200.00
                            custom_price:
                              type: number
                              format: decimal
                              example: 15000.00
                            savings:
                              type: number
                              format: decimal
                              example: 50.00
                            remaining_sessions:
                              type: integer
                              example: 25
                            expiry_date:
                              type: string
                              format: date
                              example: "2025-12-07"
                            status:
                              type: string
                              example: "active"

  /api/v1/custom-packages/user/{userId}/special-pricing-comparison:
    get:
      tags:
        - Custom Packages
      summary: Get special pricing comparison for all user's packages
      description: Compare custom vs standard pricing for all user's packages (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        '200':
          description: Special pricing comparison retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                        example: 69
                      total_packages:
                        type: integer
                        example: 3
                      custom_packages_count:
                        type: integer
                        example: 2
                      regular_packages_count:
                        type: integer
                        example: 1
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            package_id:
                              type: integer
                              example: 19
                            package_name:
                              type: string
                              example: "VIP Personal Training Package"
                            service_name:
                              type: string
                              example: "PERSONAL TRAINING"
                            is_custom_package:
                              type: boolean
                              example: true
                            status:
                              type: string
                              example: "active"
                            remaining_sessions:
                              type: integer
                              example: 25
                            expiry_date:
                              type: string
                              format: date
                              example: "2025-12-07"
                            pricing:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: "custom"
                                original_price:
                                  type: number
                                  format: decimal
                                  example: 200.00
                                custom_price:
                                  type: number
                                  format: decimal
                                  example: 15000.00
                                savings:
                                  type: number
                                  format: decimal
                                  example: 50.00
                                original_sessions:
                                  type: integer
                                  example: 20
                                custom_sessions:
                                  type: integer
                                  example: 25
                                original_duration:
                                  type: integer
[...]
